<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<div class="post">
  <h1><%= @post.title %></h1>
  
  <div class="post-metadata">
    <p>
      <strong>작성자:</strong> <%= @post.author %><br>
      <strong>작성일:</strong> <%= @post.created_at.strftime('%Y-%m-%d %H:%M') %>
    </p>
  </div>

  <div class="post-content">
    <%= simple_format(@post.content) %>
  </div>

  <div class="post-actions">
    <%= link_to '수정', edit_post_path(@post) %> |
    <%= link_to '삭제', post_path(@post),
          data: { turbo_method: :delete, turbo_confirm: '정말 삭제하시겠습니까?' } %> |
    <%= link_to '목록으로', posts_path %>
  </div>
</div>
